<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsb_6qsajx-GPSf3WatnaGmWfMrexMudg</string>
	<key>GCM_SENDER_ID</key>
	<string>1077769398417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.kanbanBoard</string>
	<key>PROJECT_ID</key>
	<string>taskwave-262de</string>
	<key>STORAGE_BUCKET</key>
	<string>taskwave-262de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077769398417:ios:802e0699add42ca4237730</string>
</dict>
</plist>